<title>Calculator</title>
<h2>Enter two numbers and click a button</h2>
<form method="post" action="/Math/calculate-something">
	<input type="number" name="left" value="0" required>
	<input type="number" name="right" value="0" step="any" required>
	<p>
		<button name="calcChoice" value="add">+</button>
		<button name="calcChoice" value="subtract">-</button>
		<button name="calcChoice" value="multiply">*</button>
		<button name="calcChoice" value="divide">/</button>
		<button name="calcChoice" value="modulo">%</button>
		<button name="calcChoice" value="exponent">b<sup>n</sup></button>
	</p>
</form>
